---
import { Image } from 'astro:assets';
import locaImage from '../../imagenes/fingerprint_login.svg'
import Button from '../Button.astro';
---
<header class="grid-lg">
  <div class="grid-sm">
    <h3 class="h3">Artesanos 100% artesanos</h3>
    <h1 class="h1">Una historia detrás de cada compra</h1>
  </div>
  <div class="grid-sm">
    <Button text="Compra ahora" link="#" style="btn btn--secondary"/>
  </div>

  <div>
    <h1 class="text-5xl font-bold">Una historia detrás de cada compra</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, impedit.</p>
    <button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-400">Compra ahora</button>
  </div>

  <img src="../../src/imagenes/fingerprint_login.svg" alt="" class="w-80">

</header>

<!-- 
<header class="bg-zinc-900 flex p-20 gap-3">

</header>
-->
