---
import Acomodo from "../layouts/Acomodo.astro";
---
<Acomodo tituloPage="Conoce de nosotros">
  <h1>acerca de las artesanias</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis vel aliquam ratione. Accusamus commodi ratione aliquam explicabo dolores? Unde enim quae molestiae cumque excepturi nemo illo possimus incidunt, iste sapiente?</p>
</Acomodo>
