---
import Layout from '../layouts/Layout.astro'
// components
import Hero from '../components/landing/Hero.astro'
import About from '../components/landing/About.astro'
import Project from '../components/landing/Project.astro'
import Features from '../components/landing/Features.astro'
import More from '../components/landing/More.astro'
---
<h1 class="text-4xl text-red-400">CempraS</h1>

<Layout title='Bienvenidos a CEMPRA'>
    <Hero />
    <About />
    <Project />
    <Features />
    <More />

</Layout>