---
import Acomodo from '../layouts/Acomodo.astro';
import Tarjeta from '../components/Tarjeta.astro'
---

<Acomodo tituloPage='servicios profesionales'>

  <h1>Mis servicios</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta id ab quibusdam, alias tempora maiores adipisci architecto excepturi necessitatibus quae qui eius tempore. Porro ea totam accusamus dolore natus.
  </p>

  <Tarjeta title="Hola mundo", content='esta es una prueba'/>
  <Tarjeta title="Pirinola", content='gira gira de alegria'/>
  <Tarjeta title="Feliz año"/>


</Acomodo>
  


