---
interface Props {
	pageTitle?: string;
  pageDescription?: string;
}
import Navbar from '../components/Navbar.astro';
const{pageTitle, pageDescription} = Astro.props;

import '../styles/Layout.css'
import '../styles/global.css'
import '../styles/home.css'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="description" content={pageDescription}/>
		<title>{pageTitle} | Cempa market</title>

	</head>

	<body>
    <Navbar></Navbar>
    <main class="mx-auto container">
      <slot />
    </main>

    <footer>
      <small>Copyright <span id="copyrightYear"></span>  Cempa</small>
    </footer>
    
    <script>
      document.querySelector('#copyrightYear').textContent = new Date().getFullYear().toString();
    </script>
	</body>
</html>

