---
interface Props {
	pageTitle?: string;
  pageDescription?: string;
}
import Navbar from '../components/Navbar.astro';
const{pageTitle, pageDescription} = Astro.props;

import '../styles/home.css'
import '../styles/Layout.css'
import '../styles/global.css'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="description" content={pageDescription}/>
		<title>{pageTitle} | Cempa market</title>

	</head>

	<body>
    <div class="wrapper">
      <Navbar/>
      
      <main>
        <slot />
      </main>

      <footer class="blur">
        <small>Copyright © <span id="copyrightYear"></span>  Cempa</small>
      </footer>
    </div>

    <script>
      document.querySelector('#copyrightYear').textContent = new Date().getFullYear().toString();
    </script>
	</body>
</html>

