---
interface Props {
	pageTitle?: string;
  pageDescription?: string;
}

const{pageTitle, pageDescription} = Astro.props;

import '../styles/Layout.css'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={pageDescription}/>
		<title>Cempa | {pageTitle}</title>
	</head>
	<body>
    <main class="mx-auto container">
      <slot />
    </main>
	</body>
</html>

